# Minecraft
MC_HOST=2h698.aternos.me
MC_PORT=46750
MC_USERNAME=MC2h698Welcome
MC_AUTH=offline
MC_VERSION=1.21.10
MC_MAX_ATTEMPTS=10
MC_RETRY_DELAY=10000
MC_CONNECT_TIMEOUT=30000
MC_CHECK_TIMEOUT=30000
MC_SERVER_CHECK_TIMEOUT=8000

# Web
PORT=3000
WEB_HOST=0.0.0.0

# App
AUTO_RECONNECT=true
LOG_LEVEL=info
