entrypoint = "src/index.js"

modules = ["nodejs-20"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "minecraft-bot"

[[workflows.workflow]]
name = "minecraft-bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 node src/index.js"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 80
